{% extends 'base.html' %}
{% block title %}
    {{ page_title }}
{% endblock %}
{% load my_filters %}
{% block content %}
    <div class="row g-0">
        <div class="col">
            <div class="card">
                <div class="card-header text-center">
                    <h4 class="card-title">{{ page_title }}</h4>
                </div>
                <div class="card-body no-padding">        
                    <table id="files-table" class="display cell-border">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Size</th>
                                <th>Owner</th>
                                <th>Upload Date</th>
                                {% if page_title == "Trash" %}
                                    <th>Restore</th>
                                {% else %}
                                    <th>Download</th>
                                {% endif %}
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for folder in folders %}
                            <tr class="folder-row">
                                <td><a href="{% url 'open_folder' folder.id %}" class="folder">{{ folder.groupname }}</a><i class="fa-solid fa-folder table-icon"></i></td>
                                <td>-</td>
                                <td>{{ folder.owner }}  {% if folder.private %}<i class="fa-solid fa-lock table-icon"></i>{% endif %}</td>
                                <td>{{ folder.creation_date }}</td>
                                <td>
                                    {% if folder.in_trash %}
                                        <a href="{% url 'restore' folder.id %}">restore</a>
                                    {% else %}
                                        <a href="{% url 'download_folder' folder.id %}">download</a>
                                    {% endif %}
                                </td>
                                <td><a href="{% url 'delete_folder' folder.id %}">delete</a></td>
                            </tr>
                        {% endfor %}

                        {% for file in files %}
                            {% if file.file_group == None or page_title != "Home" %}
                                <tr>
                                    <input type="hidden" value="{{ file.id }}">
                                    <td>{{ file.filename }}<i class="fa-solid fa-file table-icon"></i></td>
                                    <td>{{ file.size|sizify }}</td>
                                        <td>{{ file.owner }}  {% if file.private %}<i class="fa-solid fa-lock table-icon"></i>{% endif %}</td>
                                    <td>{{ file.upload_date }}</td>
                                    <td>
                                        {% if file.in_trash %}
                                            <a href="{% url 'restore' file.id %}">restore</a>
                                        {% else %}
                                            <a href="{% url 'download' file.id %}">download</a>
                                        {% endif %}
                                    </td>
                                    <td><a href="{% url 'delete' file.id %}">delete</a></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                    {% if page_title != "Trash" %}
                        <form action="" style="padding-top: 5px;">
                            <label>move selected to:</label>
                            <select id="folder-selector">
                                <option value="-1" selected>No folder</option>
                                {% for folder in folders_dropdown %}
                                    <option value="{{ folder.id }}">{{ folder.groupname }}</option>
                                {% endfor %}
                            </select>
                            <a onclick="movefiles()" href="javascript:void(0);">move files</a>
                            <a href="{% url 'create_folder' %}">new folder</a>
                        </form>
                    {% endif %}
                </div>
            </div>

            <div class="mt-4">
                {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger">
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    <div class="alert alert-warning">
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        <div class="alert alert-success">
                {% endif %}
                        <strong>{{ message|escape }}</strong>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}

{% block page_scripts %}
<script>
    $(document).ready( function () {
        var table = $('#files-table').DataTable({

            "paging": false,
            "ordering": true,
            "info": false,
            "searching": true,
            "destroy": true,
            "autoWidth": false,
            "orderClasses": false
        });
    }); 

    // Allow selection of files by clicking on them
    $('#files-table tbody').on('click', 'tr', function () {
        if (!$(this).hasClass('folder-row')) {
            $(this).toggleClass('selected');
        }
    });
    $('#files-table tbody').on('click', 'a', function (e) {
        e.stopPropagation();
    });

    // function called when move files linkis clicked
    function movefiles() {
        folder_id = parseInt($('#folder-selector').val());
        
        selected_rows = $('#files-table tr.selected > input');
        file_ids = selected_rows.map(function() {
            return parseInt($(this).val());
        }).toArray();
        if (file_ids.length == 0) {
            alert('no files selected!');
        } else {
            $.ajax({
                type: "POST",
                url: "{% url 'move_files' %}",
                data: {
                    "file_ids[]": file_ids, 
                    "folder_id": folder_id,
                    "csrfmiddlewaretoken": "{{ csrf_token }}"
                },
                success: function(response) {
                    location.reload();
                },
                error: function(response) {
                    console.log(response);
                }
            });
        }
    }
</script>
{% endblock %}