{% extends 'base.html' %}
{% block title %}
    {{ page_title }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header text-center">
                    <h4 class="card-title">{{ page_title }}</h4>
                </div>
                <div class="card-body no-padding">
                    <table id="files-table" class="display cell-border">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Owner</th>
                                <th>Upload Date</th>
                                <th>Download</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for file in files %}
                            <tr>
                                <td>{{ file.name }}</td>
                                <td>{{ file.owner }}</td>
                                <td>{{ file.upload_date }}</td>
                                <td><a href="{% url 'download' file.id %}">download</a></td>
                                <td><a href="{% url 'delete' file.id %}">delete</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_scripts %}
<script>
    $("#files-table").DataTable({
        "paging": false,
        "ordering": false,
        "info": false,
        "searching": true,
        "destroy": true,
        "autoWidth": false
    });
</script>
{% endblock %}