{% extends 'base.html' %}
{% block title %}
    Upload
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header text-center">
                <h4 class="card-title">Upload</h4>
            </div>
            <div class="card-body no-padding text-center">
                <form action="" id="fileUploadForm" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br>
                    <br>
                    <input id="uploadSubmitButton" class="btn btn-danger" type="submit" value="Upload">
                </form>
                <div id="progressBox" class="not-visible">Insert progress bar here</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

# Manual ajax request check (https://stackoverflow.com/questions/70419441/attributeerror-wsgirequest-object-has-no-attribute-is-ajax)
def is_ajax(request):
    return request.META.get('HTTP_X_REQUESTED_WITH') == 'XMLHttpRequest'

@login_required(login_url='login')
def upload_file(request):
    form = UploadFileForm(request.POST, request.FILES)

    if is_ajax(request):
        logging.debug("POST Request was ajax")
    
        