body {
    font-family: 'Courier New', monospace;
}

a {
    transition: all ease 0.1s;
    color: black;
}

a:hover {
    font-weight: bold;
    font-size: 20px;
    color: red;
}

.card-header {
    border: none;
    background-color: transparent;
}

.no-padding {
    padding: 0 10px;
}

.card {
    border: none;
}

.selected{
    transition: all ease 0.5s;
    background-color: rgba(255, 0, 0, 0.5) !important;
}

.folder {
    font-weight: bold;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.table-icon {
    float: right
}