body {
    font-family: 'Courier New', monospace;
    overflow: hidden;
}

a {
    transition: all ease 0.1s;
    color: black;
}

a:hover {
    font-weight: bold;
    font-size: 20px;
    color: red;
}

.card-header {
    border: none;
    background-color: transparent;
}

.no-padding {
    padding: 0 10px;
}

.card {
    border: none;
}